/* extensive */

.main-list {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 50px;
  /* background-color: #fff; */
}

.main-list-contents {
  font-size: 35px;
  color: tomato;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  transition-property: font-size transform;
  transition-duration: 0.1s;
}
.main-list-contents:active {
  font-size:5rem;
}

.sentence {
  font-family: 'Cute Font';
  font-size: 25px;
  color: #314c78;
}


/* index */

.indexImg {
  width: 450px;
  margin: 20px 10px 20px 10px;
  object-fit: cover;
  border-radius: 10px;
}


/* love */

.loveImg {
  margin: 50px 30px 20px 30px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 25% 5%;
}

.loveCommentWrap {
  border: 3px solid pink;
  width: 200px;
  margin: auto;
  margin-top: -20px;
}
.loveComment {
  font-family: 'Cute Font';
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}


/* we */

.weIconAll {
  text-align: center;
  margin-top: 30px;
}

.weImg {
  width: 200px;
  margin: 30px;
}
