/* extensive */

@font-face {
  font-family: Allison;
  src: url('https://fonts.googleapis.com/css2?family=Allison&display=swap');
}
@font-face {
  font-family: 'Cute Font', cursive;
  src: url('https://fonts.googleapis.com/css2?family=Allison&family=Cute+Font&display=swap');
}
@font-face {
  font-family: 'Single Day', cursive;;
  src: url('https://fonts.googleapis.com/css2?family=Allison&family=Cute+Font&family=Single+Day&display=swap');
}

body {
  margin: 0;
}

#header {
  z-index: 8;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
h1 {
  background-color: steelblue;
  margin: 0;
  padding-top: 0px;
  padding-bottom: 5px;
  border-bottom: 5px solid gold;
  font-family: Allison;
}

#toMain {
  z-index: 10;
  font-size: 40px;
  text-decoration: none;
  margin: 0px 0px 0px 10px;
  transition-property: font-size transform;
  transition-duration: 0.1s;
}
#toMain:active {
  font-size: 4rem;
}

#nav {
  z-index: 9;
  position: -webkit-sticky;
  position: sticky;
  top:7px;
  margin-top: 30px;
  max-width: 700px;
  margin: 0 auto;
}
#main-ul {
  font-size: 0;
  text-align: center; 
  padding: 0;
}
.main-list {
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 50px;
}
.main-list-contents {
  font-size: 35px;
  text-shadow: 1px 0 rgb(65, 64, 64);
  color: tomato;
  text-decoration: none;
  margin-left: 30px;
  margin-right: 30px;
  transition-property: font-size transform;
  transition-duration: 0.1s;
}
.main-list-contents:active {
  font-size:5rem;
}
#nowHere {
  font-size: 45px;
}
#divideLine {
  font-size: 20px;
  color: silver;
}

#guide {
  margin: 0 auto;
  text-align: center;
  width: 200px;
}

#oneLineWordWrap {
  margin: auto; 
  width: 500px;
  font-family: 'Single Day';
}
#oneLineWord {
  text-align: center;
  margin-top: 10%;
  font-size: 20px;
  background-color: #e8fffb;
}
#sentenceWrap {
  width: 300px; 
  margin: auto; 
  text-align: left;
}
.sentence {
  font-family: 'Cute Font';
  font-size: 25px;
  color: #314c78;
}



/* index */

.indexImg {
  width: 450px;
  margin: 20px 10px 20px 10px;
  object-fit: cover;
  border-radius: 10px;
}



/* i */

#iImg {
  width: 350px;
  margin: 20px 10px 20px 10px;
  z-index: 0;
  pointer-events: none;
}

#hoverTextFraim {
  max-width: 400px; 
  width: 100%; 
  margin: 0 auto;
}
#hoverTextAnchor {
  display: block; 
  width: 400px; 
}
.hoverTextScreen {
  position: relative; 
  overflow: hidden;
}
/* .hoverTextScreen::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 2;
  opacity: 0;
  transition: all .5s;
}
#hoverTextCover:hover .hoverTextScreen::after {
  opacity: 1;
} */

.hoverText {
  font-family: 'Cute Font';
  font-size: 30px;
  color: darkslategray;
  -webkit-text-stroke-width: .2px;
	-webkit-text-stroke-color: darkturquoise;
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
#hoverTextTop {
  position: absolute; 
  bottom: 150%; 
  z-index: 3; 
  left: 15px;
  transition: all .5s;
}
#hoverTextMiddle {
  position: absolute; 
  bottom: 150%; 
  z-index: 3; 
  left: 15px;
  transition: all ease-out 1.2s
}
#hoverTextBottom {
  position: absolute; 
  top: 150%; 
  z-index: 3; 
  left: 15px;
  transition: all 1s
}
#hoverTextBgd {
  position: absolute;
  right: 150%;
  z-index: 2;
  border: 2px solid lightpink;
  transition: all 0.1s;
  border-top-right-radius: 10%;
}
#hoverTextAnchor:hover #hoverTextTop { bottom:70%; }
#hoverTextAnchor:hover #hoverTextMiddle { bottom:0%; }
#hoverTextAnchor:hover #hoverTextBottom { top:28%; }
#hoverTextAnchor:hover #hoverTextBgd { left:0.01%; top:0.1% }



/* Love */

#loveImgWrap {
  display: inline-block;
}

.loveImg {
  margin: 50px 30px 20px 30px;
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 25% 5%;
  transition: all ease-out 0.5s;
}
.loveImg:hover {
  -webkit-transform: scale(1.5) rotateY(360deg);
  transform: scale(1.5) rotateY(360deg);
}

.loveCommentWrap {
  border: 3px solid pink;
  width: 200px;
  margin: auto;
  margin-top: -20px;
}
.loveComment {
  font-family: 'Cute Font';
  font-size: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
}



/* we */

#weIconFraim {
  text-align: center;
  margin-top: 30px;
}
.weIconWrap {
  display: inline-block;
  margin: 30px;
}

.weImg {
  width: 200px;
  margin: 30px;
  animation: rotate_image 7s linear infinite;
}
@keyframes rotate_image{
  100% {
    transform: rotateY(360deg);
  }
}
#weImgSpin {
  transition: all 3s linear;
}
#weImgSpin:hover {
  transform: rotate(3600deg);
}

#weImgEscape {
  transition: all 0.3s linear;
}
#weImgEscape:hover {
  transform: translateX(323.5px);
}

/* footer */

.footerContents {
  background-color: white;
  margin-top: 70px;
}

#footerInfoSince {
  text-align: center; 
  font-size: 10px; 
  margin: 30px;
  color: gold;
  -webkit-text-stroke-width: .2px;
	-webkit-text-stroke-color: black;
}

#footerInfoSinceSpin {
  transition: all ease 6s;
  -webkit-transition: all ease 6s;
}
#footerInfoSinceSpin:hover {
  transform: rotate(3600deg);
  -webkit-transform: rotate(3600deg);
}